

.secondPage {
  background-color: rgb(47, 44, 44);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  max-width: 800px;
  background-color: rgb(245, 243, 241);
  color: blanchedalmond;
  font-family: Arial, sans-serif;
  border: 0.375rem solid rgb(15, 15, 14);
  box-shadow: 0 0 0 0.375rem rgb(133, 118, 118);
  border-radius: 2%;
}

th {
  padding: 0.938rem;
}

td {
  padding: 0.313rem;
}

th,
td {
  text-align: center;
  border: 0.063px solid black;
  border-radius: 5%;
}

thead {
  background-color: rgb(43, 39, 39);
}

th {
  font-size: 2rem;
}

td {
  font-size: 1.8rem;
  background-color: rgb(43, 39, 39);
}

td img {
  width: 3.125rem;
  height: auto;
}

tr:nth-child(odd) td {
  background-color: rgb(133, 118, 118);
}

td:last-child {
  color: blanchedalmond;
  font-weight: bold;
}




@media (max-width: 480px) {
  .secondPage {
    display: none;
  }
}
